@font-face {
  src: url(//fonts/Raleway-Regular.woff2),
        url(//fonts/Raleway-Regular.woff);
  font-family: 'Raleway';
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url(//fonts/Raleway-Bold.woff2),
        url(//fonts/Raleway-Bold.woff);
  font-family: 'Raleway';
  font-weight: bold;
    font-display: swap;
}