/* место для вашего кода */
:root {
  --font-family: "Raleway", sans-serif;
}

body {
  width: 1100px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #000;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 90px 24px;
}

.header__logo {
  
}

.logo-black {

}

.nav {
  display: flex;
}

.nav-item{
  list-style: circle;
  letter-spacing: 0.01em;
}

.current {
  list-style: none;

}

.header__adress {
  width: 240px;
}

.cover {
background-color: #000;
}
.lots {

}
.about {

}
.footer {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.footer-cover {
  
}

.social-list {
  display: flex;
}

footer__social-icon {
  
}